    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area header-transparent pt-20">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="/admin"><img src="assets/img/logo/logo.png" alt="" width="110px"
                                        height="110px"></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li  class="active"><a class="dos" href="index.html">Inicio</a></li>
                                            <li><a class="uno" href="/servicios">Servicios</a></li>
                                            <li><a class="dos" href="/productos">Productos</a></li>
                                            <li><a class="uno" href="#">Agendar</a></li>
                                            <li><a class="dos" href="#barberos">Barberos</a></li>
                                            <li><a class="uno" href="#Contactanos">Contactenos</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    <a href="/login" class="btn header-btn">Iniciar sesion</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>