<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				company <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
					<img src="./assets/img/avatar.jpg" alt="UserIcon">
					<figcaption class="text-center text-titles">User Name</figcaption>
				</figure>
				<ul class="full-box list-unstyled text-center">
					<li>
						<a href="#!">
							<i class="zmdi zmdi-settings"></i>
						</a>
					</li>
					<li>
						<a href="#!" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- SideBar Menu -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				<li>
					<a href="/graficas">
						<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Dashboard
					</a>
				</li>
				<li>
					<a href="#" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i>Configuracion <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/Roles"><i class="zmdi zmdi-timer zmdi-hc-fw"></i>Roles</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> Usuarios <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/Usuarios"><i class="zmdi zmdi-timer zmdi-hc-fw"></i> Usuarios</a>
						</li>
						<li>
							<a href="/Perfil"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Mi perfil</a>
						</li>
						
					</ul>
				</li>
				<li>
					<a href="#" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> Compras <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/Proveedores"><i class="zmdi zmdi-timer zmdi-hc-fw"></i> Proveedores</a>
						</li>
						<li>
							<a href="/Categoria"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Categoria-productos</a>
						</li>
						<li>
							<a href="/Productos"><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i> Productos</a>
						</li>
						<li>
							<a href="/Compras"><i class="zmdi zmdi-font zmdi-hc-fw"></i> Compras</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> Servicios <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/Servicios"><i class="zmdi zmdi-timer zmdi-hc-fw"></i> Servicios</a>
						</li>
						<li>
							<a href="/Empleados"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Empleados</a>
						</li>
						<li>
							<a href="/Horario"><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i> Programacion</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> Ventas <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/Clientes"><i class="zmdi zmdi-timer zmdi-hc-fw"></i> Clientes</a>
						</li>
						<li>
							<a href="/Ventas"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Ventas</a>
						</li>
						<li>
							<a href="/Citas"><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i> Citas</a>
						</li>
						<li>
							<a href="/Pedidos"><i class="zmdi zmdi-font zmdi-hc-fw"></i> Pedidos</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>

	<!-- Content page-->
	