<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="assets/css/olvidarc.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>BARBERIA ORION</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
        </div>
        <div class="form-container sign-in">
            <form>
                <img src="assets/img/logo/logo2.png" alt="" width="100px" height="100px">
                <a href="login.html">Volver a inicio</a>
                <div class="social-icons">
                </div>
                <input type="email" placeholder="Correo" required>
                <button>Enviar</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <div class="toggle-panel toggle-right">
                        <h1>Recuperar contrase単a</h1>
                        <p>Olvidaste la contrase単a</p>
                       
                        </div>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Recuperar contrase単a</h1>
                    <p>Olvidaste la contrase単a</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="assets/js/olvidarc.js"></script>
</html>