<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> BARBERIA-ORION-PRODUCTOS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/logo.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/carrito.css">

</head>

<body>
    <!--  -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- -->

    <!--Navbar-->
    {{> nav}}

    <!-- Navbar-->

    <main>
        <!--Titulo grande -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>NUESTROS PRODUCTOS</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Titulo grande -->




        <!-- Contenedor de elementos -->
        <section class="contenedor">
            <div class="contenedor-items">
                <div class="item">
                    <span class="titulo-item">Cera</span>
                    <img src="assets/img/gallery/cera.webp" alt="" class="img-item">
                    <span class="precio-item">$15.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Reloj</span>
                    <img src="assets/img/gallery/Reloj2.webp" alt="" class="img-item">
                    <span class="precio-item">$25.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Areta de plata </span>
                    <img src="assets/img/gallery/Aretas de plata.jpg" alt="" class="img-item">
                    <span class="precio-item">$35.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Manilla</span>
                    <img src="assets/img/gallery/Manilla.png" alt="" class="img-item">
                    <span class="precio-item">$18.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Gorra boss</span>
                    <img src="assets/img/gallery/Gorra.png" alt="" class="img-item">
                    <span class="precio-item">$32.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Minoxidil</span>
                    <img src="assets/img/gallery/minoxidil.webp" alt="" class="img-item">
                    <span class="precio-item">$18.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Locion</span>
                    <img src="assets/img/gallery/Locion2.jpg" alt="" class="img-item">
                    <span class="precio-item">$54.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Shampoo</span>
                    <img src="assets/img/gallery/Shampoo.webp" alt="" class="img-item">
                    <span class="precio-item">$32.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Gel para afeitar</span>
                    <img src="assets/img/gallery/Gelafeitar.webp" alt="" class="img-item">
                    <span class="precio-item">$42.800</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
            </div>
            <!-- Carrito de Compras -->
            <div class="carrito" id="carrito">
                <div class="header-carrito">
                    <h2>Tu Carrito</h2>
                </div>

                <div class="carrito-items">

                </div>
                <div class="carrito-total">
                    <div class="fila">
                        <strong>Tu Total</strong>
                        <span class="carrito-precio-total">
                            $120.000,00
                        </span>
                    </div>
                    <button class="btn-pagar">Pagar <i class="fa-solid
fa-bag-shopping"></i> </button>
                </div>
            </div>
        </section>
    </main>

    <!-- Carrito -->

    <!--Pie de pagina-->
    {{>footer}}
    <!-- Pie de pagina-->

    <!-- Flecha up  -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- Todo js -->

    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assets/js/Carrito.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/jquery.slicknav.min.js"></script>
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>
    <script src="./assets/js/gijgo.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.counterup.min.js"></script>
    <script src="./assets/js/waypoints.min.js"></script>
    <script src="./assets/js/jquery.countdown.min.js"></script>
    <script src="./assets/js/hover-direction-snake.min.js"></script>
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

</body>
</html>